@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

html,
body {
    width: 100%;
    height: 100%;
    font-size: 18px;
}

body {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;

    color: #CAFF38;
    webkit-tap-highlight-color: #CAFF38;
    background-color: #31AAD6;
}

hr {
    opacity: 0.55;
    max-width: 80px;
}

hr.main-hr {
    border-width: 3px;
    opacity: 0.09;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #CAFF38;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #9c27c1;
    outline: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;
}

p {
    /*font-size: 17px;*/
    line-height: 1.7;
    margin-bottom: 20px;
    color: #eee;
    /*color: #e3f1bb;*/
}

img {
  width: 100%;
}

.text {
  padding: 0 20%;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #333;
}

.bg-dark {
    /*color: #eee;*/
    background-color: #8431D6;
}

.cursive {
    font-family: 'Dancing Script', cursive;
    text-transform: none;
}

.text-faded {
    color: rgba(245,245,245,0.7);
}

.text-dark {
    color: #111;
}

.text-primary {
    color: #CAFF38;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
  text-align: center;
  padding: 50px 0;

  background:
    url('/images/dog-paw.png') 2% 8% no-repeat,
    url('/images/dog-paw.png') 98% 8% no-repeat,
    url('/images/dog-paw.png') 2% 98% no-repeat,
    url('/images/dog-paw.png') 98% 98% no-repeat;

  background-size: 45px;
}

aside {
    padding: 50px 0;
}

.footer {
  padding: 5px;
  text-align: center;
}

.no-padding {
    padding: 0;
}

.paw {
  width: 45px;
  position: absolute;
}

#top-left-paw {
  top: 10%;
  left: 5%;
}

#top-right-paw {
  top: 10%;
  right: 5%;
}

#bottom-left-paw {
  bottom: 10%;
  left: 5%;
}

#bottom-right-paw {
  bottom: 10%;
  right: 5%;
}

.price-change {
  font-style: italic;
  margin-top: 20px;
  font-size: 23px;
}
