.banner {
  position: relative;
  overflow: hidden;
  padding: 190px 0;
  width: 100%;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.services {
  margin-right: 5%;
  margin-left: 5%;
  padding: 0 60px;
}

.service img {
  border-radius: 12px;
}

.descriptions {
  padding: 0 10%;
}

.descriptions h4 {
  font-style: italic;
}

#grooming img {
  top: -345px;
}

#boarding img {
  top: initial;
  bottom: -200px;
}

#training img {
  top: -210px;
}

@media(max-width:768px) {
  .service {
    padding: 0;
  }

  #grooming img {
    top: 0;
  }

  #boarding img {
    top: -45px;
  }

  #training img {
    top: 0;
  }

  .banner {
    padding-bottom: 0px;
  }
}

.row {
  margin: 0;
}
